* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
  }

  body{
    background-image: url(/assets/img/marionette-bg\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
  

  }
  .card-img-top{

    border: solid black;
    width: 70%;
    height: 70%;
  }
  .card-body{
    text-align: left;
  }
  .dropdown{
    background-color: none;
  }
  #dropdownMenuButton1{
    background-color: rgb(100, 186, 248);
  }